<div class="row">

    <div class="small-3 medium-expand columns">
        <h2>Add Survivors</h2>
        <br>
    </div>
</div>

<div class="row">

    <div class="small-3 medium-expand columns">
        <label for="name" class="text-right middle large-expand">Name</label>
    </div>

    <div class="small-6 medium-expand columns">
        <input type="text" id="name" ng-model="survivor.name" placeholder="Name">
    </div>
    <div class="small-12 columns"></div>

    <div class="small-3 columns">
        <label for="age" class="text-right middle">Age</label>
    </div>

    <div class="small-6  columns">
        <input type="number" id="age" ng-model="survivor.age" placeholder="Age">
    </div>

    <div class="small-12 columns"></div>

    <div class="small-3 columns">
        <label class="text-right">Gender</label>
    </div>

    <div class="large-6 columns">

        <input type="radio" id="genderM" name="gender" ng-model="survivor.gender" value="M">
        <label for="genderM">Male </label>

        <input type="radio" id="genderF" name="gender" ng-model="survivor.gender" value="F">
        <label for="genderF">Female </label>
    </div>

</div>

<div class="row">

    <div class="small-12 columns text-center">
        <input type="submit" class="button" value="Add Survivor" ng-click="addSurvivor()">
    </div>
</div>