<div class="row">

    <div class="small-12 columns">
        <h3>Fetch items from a Survivor</h3>
        <br>
    </div>

    <div class="small-12 columns"></div>

    <div class="small-3 columns text-right">
        <label>ID:</label>
    </div>
    <div class="small-6 columns">
        <input type="text" placeholder="Id" ng-model="id" autofocus>
    </div>

    <div class="small-12 columns"></div>

    <div class="small-12 columns text-center">
        <br>
        <input type="submit" value="Fetch items" ng-click="fetch(id)" class="button">
    </div>

</div>

<div ng-show="items">
    <div class="row">

        <br><br>
        <div class="small-12 columns"></div>

        <div class="small-12 columns text-left">
            <h3>Items: </h3>
        </div>
        <div class="small-12 columns text-center">
            <br>
            <p ng-repeat="item in items">
                {{item.item.name}} - {{item.item.points}}
            </p>
        </div>
    </div>
</div>