.menu-primary, .menu-secondary {
  li, a {
    font-family: "Amatic", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 17px;
  }
}

.menu-primary {
  margin-top: 25px;

  li {
    border: 1px solid red;
    margin-right: 10px;
    min-width: 160px;
    text-align: center;
    transition: border 0.5s ease-out;

    a {
      display: inline-block;
      color: white;
      transition: color 0.5s ease-out;
    }

    &:hover {
      border: 1px solid white;
      transition: border 0.5s ease-out;

      a {
        color: red;
        transition: color 0.5s ease-out;
      }
    }
  }

  .menu-active {
    li {
      border: 0;

      a {
        color: blue;
      }
    }
  }
}

.menu-secondary {
  margin-top: 55px;

  li {
    margin-right: 10px;
    border-bottom: 1px solid red;

    a {
      color: #969696;
      transition: color 0.5s ease-out;
    }

    &:hover {
      a {
        color: white;
        transition: color 0.5s ease-out;
      }
    }
  }
}